* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora';
}

/* ====comon====== */

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 205px;
    height: 60px;
    background: #2E80CE;
    border-radius: 30px;
}

.header {
    min-height: 100vh;
    background: #10375C;
}

.confident {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}

.logo {
    display: flex;
}

.logo__img {
    display: flex;
    position: relative;
    font-size: 0.6em;
}

.logo--big {
    width: 3em;
    height: 3em;
    background: #2E80CE;
    border-radius: 50%;
}

.logo--small {
    position: absolute;
    width: 1.6em;
    height: 1.6em;
    background: #FFFFFF;
    border-radius: 50%;
    top: 1.1em;
    left: 1.1em;
}

.logo .text-logo {
    color: #FFFFFF;
    display: block;
    margin-left: 9px;
}

.logo__text--top {
    font-weight: 400;
    font-size: 1.8rem;
}

.logo__text--bot {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: right;
    line-height: 1.4rem;
}

.nav .menu {
    display: flex;
    gap: 42px;
}

.nav .menu li {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #C9D2DA;
}

.nav__btn {
}

.nav__btn a {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #C9D2DA;

}

.nav__btn > .btn-sign {
    padding: 8px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #FFFFFF;
    border-radius: 24px;
    border: none;
    margin-left: 28px;
    background: #2E80CE;
    cursor: pointer;
}

/* ===content-header=== */
.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 113px;
    margin-top: 84px;
}

.content__text h1 {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.content__text .desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
    margin-top: 22px;
}

.content .contact {
    display: flex;
    gap: 38px;
    align-items: center;
    margin-top: 38px;
}

.content .contact .phone {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #FFFFFF;
}

.content .content__img {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.content .content__img .thumb {
    width: 100%;
    object-fit: cover;
}

.content .content__img .img-big {
    border-radius: 6px;
    height: 540px;
    width: 330px;
}

.content .content__img .img-small {
    border-radius: 0 6px 6px 0;
    height: 410px;
    width: 210px;
}

/* =====serverces==== */

.services {
    margin-top: 170px;
}

.services__header {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.services__header h2 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375C;
}

.services__header .desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575F66;
}

.services__content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.services__content .image {
    object-fit: cover;
    width: 570px;
    height: 570px;
    border-radius: 12px;
}

.services__content .group {

}

.services__content .group .card {
    display: flex;
    gap: 19px;
    padding-right: 18px;
}

.services__content .group .card:hover {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px #0000000D;
    cursor: pointer;
}

.services__content .card img {
    margin-left: 22px;
}

.services__content .card h2 {
    margin-top: 21px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #10375C;
}

.services__content .card p {
    margin-top: 8px;
    margin-bottom: 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
    max-width: 351px;
}

.services__content .btn {
    margin-top: 70px;
}

/* ====work===== */

.works {
    margin-top: 170px;
}

.work__header h2 {
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: -0.02em;
    color: #10375C;
    padding-top: 100px;
}

.work__header .desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;
    margin-top: 18px;
    max-width: 468px;
}

.work__list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.work__list .card {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    margin-bottom: 100px;
}

.work__list .card:hover {
    border: 16px solid #2E80CE;
    cursor: pointer;

}

.work__list .card .item {
    margin: 59px 0 59px 58px;
}

.work__list .card h2 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    color: #10375C;
}

.work__list .card .desc {
    margin-top: 28px;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}

.work__list .card .learn {
    font-weight: 400;
    font-size: 1.6rem;
    color: #2E80CE;
}